@import 'variables';

body,
html {
  font-family: 'Heebo', sans-serif !important;
}
.wrapper,
.wrapper__top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $color-dark;

  .center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 80rem;
    border-radius: 2rem;
    background-color: $color-secondary;

    & h1 {
      @include gradientText;
    }
  }
}
