.form {
  &__title {
    color: $color-dark;
    margin-bottom: 10rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

    & hr {
      border: solid 1px $color-primary;
      width: 8rem;
      margin: 1.2rem auto;
    }
  }

  &__group {
    color: $color-grey-dark;
    padding: 1.5rem;

    & textarea {
      height: 15rem;
    }
  }

  &__input,
  & textarea {
    font-family: inherit;
    display: block;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    border-radius: 4px;
    border: none;
    color: $color-accent-1;
    background-color: $color-light;
    border-bottom: 3px solid transparent;
    width: 100%;
    transition: all 0.5s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      border-bottom: 3px solid $color-accent-1;
    }

    @-moz-document url-prefix() {
      :required {
        box-shadow: none;
      }
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-white;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 1rem;
    display: block;
    transition: all 0.5s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
  }
}
